@{
    ViewBag.Title = "HomePage";
}


<div class="banner-bottom">
    <div class="container">
        <div class="inner_page_agile">
            <h3>Dunder Mifflin</h3>
            <h2 style="color:white">Endless Paper in a Paperless World</h2>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-6 banner_bottom_left" style="margin-bottom:3em; margin-top:-1em">

                <p>
                    This application is for Dunder Mifflin employees to view and apply for open positions within the company. Upon registration, you will provide a resume` which will be made available to the appropriate hiring manager with a single click. If you have any questions feel free to contact Dunder Mifflin headquarters through the application.
                </p>
                <img src="~/Content/images/il_570xN.940198022_3swc.jpg" />
            </div>
            <div class="col-md-6 banner_bottom_right">
                <div class="agileits_w3layouts_banner_bottom_grid" style="margin-bottom:4em; margin-left:9em">


                    <img src="~/Content/images/Michael_Scott.jpg" style="margin-bottom:1em"/>
                    <h2>"I am a genie in a bottle and I am going to grant you three wishes. To move to Scranton, to have a great job, and to be my best friend."</h2>

                </div>
            </div>
            @*<div class="clearfix"> </div>*@
        </div>

    </div>
</div>

<!-- services -->
<!-- //services -->
<!-- /mid-services -->
<!-- //mid-services -->
