@{
    ViewBag.Title = "Home Page";
}


<div class="banner-bottom">
    <div class="container">
        @*<div class="tittle_head_w3ls">
            <h3 class="tittle">Hole Foods Job Board</h3>
        </div>*@
        <div class="inner_page_agile">
            <h3>Dunder Mifflin Job Board</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-6 banner_bottom_left">
                
                <p>
                    This application is for Dunder Mifflin employees to view and apply for open positions within the company. Upon registration, you will provide a resume` which will be made available to the appropriate hiring manager with a single click. If you have any questions feel free to contact Dunder Mifflin headquarters through the application.
                </p>
            
            </div>
            <div class="col-md-6 banner_bottom_right">
                <div class="agileits_w3layouts_banner_bottom_grid">
                    <img src="~/Content/images/211950726182631923_0i3CiR1n_f.jpg" style="margin-bottom: 2em"/>
                    

                </div>
            </div>
            @*<div class="clearfix"> </div>*@
        </div>

    </div>
</div>

<!-- services -->

<!-- //services -->
<!-- /mid-services -->

<!-- //mid-services -->
